*{
    margin: 0;
    padding: 0;
}
.body__fondo{
    background-color: darkblue;
    width: auto;
    height: auto;
}
/*---------------Comienzo del Header-----------------------*/
header {
    .bg-color{
        background-color: black;
    }

    .navbar-brand{
        color: white;
            img{
                width: 30px;
            }
        }
        .navbar-brand:hover{
            color: darkblue;
            font-weight: bold;
        }

    #navbarTogglerDemo02{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    color: white;
                }
                .nav-link:hover{
                    color: darkblue;
                    background-color:rgb(129, 122, 138);
                    font-weight: bold;
                }
            }       
        }
    }

    .dropdown-menu{
        align-items:center;
        justify-content: center;
        text-align:center;
        background-color: rgba(0, 0, 0, 0.63);

        .dropdown-item{
            color: white;
            font-weight: bold;
        }

        .dropdown-item:hover{
            background-color: darkblue;
        }
    }
}
/*---------------Final del Header-----------------------------*/
/*---------------Comienzo del cuerpo de la pagina index--------------------*/
.tamaño__imagenes{
    text-align: center;
}

.carousel-inner img{
    width: 80em;
    height: 30em;
}

.contenedorArticle--modificado{
    width: 60vw;
    padding: 1rem;
    background-color: gray;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 25px;
    
    .tittle{
        text-align: center;
        color: white;
        margin-bottom: 10px;
    }

    .ml7 {
        position: relative;
        font-weight: bold;
        }
    .ml7 .text-wrapper {   
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
    }
    .ml7 .letter {
        transform-origin: 0 100%;
        display: inline-block;
        line-height: 1em;
    }
    
    .cart{
        background-color: white;
        border-radius: 12px;
        width: 23em;
        height: 20em;
        box-shadow: 2px 2px 2px 2px rgba(5, 5, 5, 0.767);
        transform:translate(0px,0px);
    }
        
    img{
        width: 23em;
        height: 12em;
    }
    
    .card--body {
        text-align: center;

        .card--title {
            font-weight: bold;
            margin-top: 10px;
        }

        .card--text{
            font-size: 15pt;
        }

        .button--modificado{
            background-color: darkgrey;
            
            a {
                text-decoration: none;
                color:white;
                margin: 30px 10px 30px 10px;
            }
        }
    }

}

#contenedorAside--modificado{
    width: 40vw;
    height: 80vh;
    margin-top: 10px;
    margin-right: 25px;

    .contenedorAside2{
        background-image:url(../../img/imagenspi.gif);
        flex: 1;
        padding: 10rem;
        height: 91vh;
        flex-grow: 2;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
    }

    .contenedorAside3 {
        background-image: url(../../img/control.gif);
        flex: 1;
        padding: 10rem;
        height: 90vh;
        flex-grow: 2;
        margin-top: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 5px;
    }
}


.color__fondo{
    background-color: rgba(0, 0, 0, 0.822);
    padding-bottom: 1em;

    .titulo__links{
    
        h2{
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        color: white;
        margin: 20px 350px 40px 350px;
        padding: 20px;
        font-size: 30pt;
        text-transform: uppercase;
        font-weight: bold;
        }
    }
    .linksAsociados--modificado{
        .primer__link{
            border: 1px solid black;
            margin: 0px 50px 0px 30px;
            padding-top:30px;
            padding-bottom: 30px;
            background-color: gray;
    
        h3{
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 30pt;
            font-family:'Open Sans', sans-serif;
            }
        
        .parrafo--modificado{
            text-align: center;
            color: black;
            font-size: 18pt;
            font-family: 'Source Sans Pro', sans-serif;
            }

        .boton1--modificado{
            background-color: darkgray;
            margin-left: 230px;
            width: 130px;
            height: 40px;
            transition: transform .2s;
            
            a{
                text-align: center;
                text-decoration: none;
                color: white;
            }
        }
        .boton1--modificado:hover{
            transform:scale(1.1);
        }
    }

    .segundo__link{
        border: 1px solid black;
        margin: 0px 50px 0px 30px;
        padding-top:30px;
        padding-bottom: 30px;
        background-color: gray;
        h3{
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 30pt;
            font-family:'Open Sans', sans-serif;
        }
        
        .parrafo--modificado{
            text-align: center;
            color: black;
            font-size: 18pt;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .boton2--modificado{
            background-color: darkgray;
            margin-left: 220px;
            width: 130px;
            height: 40px;
            transition: transform .2s;
            a{
                text-align: center;
                text-decoration: none;
                color: white;
            }
        }

        .boton2--modificado:hover{
            transform:scale(1.1);
        }
    }
    
    .tercer__link{
        border: 1px solid black;
        margin: 20px 400px 40px 400px;
        padding-top:30px;
        padding-bottom: 30px;
        background-color: gray;
        
        h3{
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 30pt;
            font-family:'Open Sans', sans-serif;
        }
        
        .parrafo--modificado{
            text-align: center;
            color: black;
            font-size: 18pt;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .boton3--modificado{
            background-color: darkgray;
            margin-left: 200px;
            width: 130px;
            height: 40px;
            transition: transform .2s;
                
            a{
                text-align: center;
                text-decoration: none;
                padding: 15px 5px 15px 5px;
                color: white;
            }
        }
        .boton3--modificado:hover{
            transform:scale(1.1);
        }
    }
}
}
/*------------------------------------Final de la pagina Index---------------------*/
/*------------------------------------Comienzo del Footer--------------------------*/
footer{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1vh;
    
    .red--modificado{
        justify-content: space-evenly;
        background-color:black;
        
        ul{
            display: flex;
            flex-direction: row;
            
            .lista__redes{   
                margin-top: 10px;
                list-style-type: none;
                justify-content: space-evenly;   
                
                a{
                    img{
                        width: 40px;
                        transition: transform .2s;
                    }
                }

                a img:hover{
                    transform: rotate(360deg);
                }
            }
        }
    }
    
    .texto--footer{
        margin-top: 10px;
        margin-left: 400px;
        color: white;
    }
}
/*------------------------------------Final del Footer------------------------------------------*/
/*------------------------------------Fin de la primera pagina---------------------------------------*/
/*------------------------------------Comienzo de la segunda Pagina Clases de juegos----------------------------------*/

.titulo__Clases{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 10px 10px 50px 10px;

    .ml6 {
        position: relative;
        font-weight: 900;
        font-size: 3.3em;
    }
    
    .ml6 .text-wrapper {
        position: relative;
        display: inline-block;
        padding-top: 0.2em;
        padding-right: 0.05em;
        padding-bottom: 0.1em;
        overflow: hidden;
    }
    
    .ml6 .letter {
        display: inline-block;
        line-height: 1em;
    }

}  

.subtitulos_juegos{
    text-align: left;
    color: white;
    text-transform: uppercase;
    margin: 40px 0px 50px 40px;
}

.card-deck{
    margin: 10px 20px 40px 20px;

    .card{
        box-shadow: 2px 2px 2px 2px black;
    }

    .card-body{

        .card-title{
            text-align: center;
        }
        
        .card-text{
            text-align: justify;
        }

        .boton__card{
            margin-left: 50px;
            background-color: gray;
            padding: 5px 5px 5px 5px;
            a{
                text-align: center;
                text-decoration: none;
                color: white;
            }
        }
    }
}
/*--------------------------------Fin de la segunda pagina clases-----------------------------------*/
/*--------------------------------Comienzo de la tercera pagina Precios--------------------------------------*/

.titulo__Precios{
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    color: white;
    margin: 20px 0px 20px 0px;

    .ml2 {
    font-weight: 900;
    font-size: 3.5em;
        
        .letter {
        display: inline-block;
        line-height: 1em;
        }
    }
}


#contenedor_Precios{
    width: 98%;
    margin: 5px 10px 0px 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(4 auto);
    grid-template-areas:"contenedorImg contenedorImg contenedorImg contenedorLado"
                        " contenedorImg contenedorImg contenedorImg contenedorLado"
                        " widgets1 widgets2  contenedorLado contenedorLado"
                        " widgets1 widgets2  contenedorLado contenedorLado";
}

#contenedor_Precios >.contenedorImg,
#contenedor_Precios .contenedorLado,
#contenedor_Precios .widgets1,
#contenedor_Precios .widgets2{
    padding: 30px;
    border-radius: 6px;
}
#contenedor_Precios{ 
    
    .contenedorImg{
    grid-area: contenidoImg;
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: rgba(0, 0, 0, 0.473);
    
        .organizar_Imagenes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content:space-around;
        }
    }
    
    .contenedorLado{
    grid-area: contenedorLado;
    display: flex;
    grid-row: 5/4;
    grid-column: 4/5;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    text-align:center;
    background-color: rgba(0, 0, 0, 0.473); 
    
        .subtituloLado .subtiPrecio{
            font-family: 'Noto Sans', sans-serif;
            text-align: center;
            font-size: 30px;
            margin: 0px 0px 20px 15px;
            background-color: black;
            color: white;
        }
    }
    .widgets1{
    grid-area: widgets1;
    grid-row: 2/3;
    grid-column: -5/-3;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    background-image: url(../../img/ps5.gif);
    background-size: cover;
    background-position: center;
    transition: transform .2s;
    
        p{
        color: black;
        font-size: 40px;
        background-color: rgba(0, 0, 0, 0.3);
        margin-top: 60px;
        font-family: 'Noto Sans', sans-serif;
        }

    }
    
    .widgets1:hover{
    transform:translate(5px,10px);
    }

    .widgets2{
    grid-area: widgets2;
    grid-row: 3/2;
    grid-column: -3/-1;
    height: 50vh;
    margin-bottom: 10px;
    display: flex;
    background-image: url(../../img/Crashb.gif);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition: transform .2s;

        p{
        color: white;
        font-size: 40px;
        background-color: rgba(0, 0, 0, 0.3);
        margin-top: 60px;
        margin-left: 200px;
        font-family: 'Noto Sans', sans-serif;
        }
    }

    .widgets2:hover{
        transform: translate(5px,10px);
    }
}

.cardPrecio{ 
    
    img{
    border:3px solid black;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    width: 200px;
    margin-left: 15px;
    transition: transform .2s;
    }
    
    .textCambio{
    margin: 10px 20px 20px 25px;
    background-color:black ;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
        
        h3{
            background-color:black ;
            color: white;
            font-size: 15pt;
        }
        
        .precio{
            text-align: center;
            margin-bottom: 10px;
            font-family: 'Noto Sans', sans-serif;
            font-size: 15px;
            background-color: black;
            color: white;
            background-size: auto;
            
            span{
                text-decoration: 2px line-through;
            }
        }
    }
}

.cardPrecio img:hover{
    transform: scale(1.3);
}
/*-----------------------------------------------fin pagina de la tercera pagina de precios----------------------------*/
/*-----------------------------------------------Comienzo de la cuarta Pagina de noticias----------------------------*/

#diseño_noticias{
    width: 99%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns:repeat(3, auto);
    grid-template-rows:repeat(2, auto);
    grid-template-areas:"container2 container2 container"
                        "container2 container2 container";
}

#diseño_noticias .container,
#diseño_noticias .container2{
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.856);
    border-radius: 3px;
    color: white;
}

#diseño_noticias{
    
    .container{
    grid-area: container;
    margin-bottom: 10px;
        
        h2{
            font-family: 'Noto Sans', sans-serif;
            font-size: 32px;
            text-align: center;
            margin-bottom: 30px;
        }
        .cardPrecioUno{ 
            align-items: center;
            justify-content: center;
            text-align: center;
            img{
                border:3px solid black;
                box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
                width: 200px;
                transition: transform .2s;
            }

            .textCambioUno{ 
                
                .su{
                font-size: 30px;
                text-align: center;
                }

                .precioDos{
                text-align: justify;
                margin: 10px 0px 25px 0px;        
                font-family: 'Noto Sans', sans-serif;
                font-size: 18px;
                background-color: black;
                color: white;
                background-size: auto;
                }
            }    
        }    
    }
    
    .container2{
    grid-area: container2;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.856);
    color: white;
    margin-bottom: 10px;
            
        .texto{ 
            
            h2{
                text-align: center;
                font-size: 20pt;
                margin-bottom: 10px;
                font-weight: bold;
                font-family: 'Noto Sans', sans-serif;
            }

            .direccion{
            display: flex;
            flex-direction: row;
            margin-top: 20px;
                
                img{
                margin-left: 2px;
                margin-bottom: 20px;
                margin-top: 10px;
                transition: transform .2s;
                width: 450px;
                height: 320px;
                }

                p{
                font-size: 14pt;
                font-family: 'Noto Sans', sans-serif;
                text-align: justify;
                margin: 25px 0px 20px 30px;
                }
            }
        }
    
        .textoUno{
    
            h2{
                text-align: center;
                font-size: 20pt;
                margin-top: 30px;
                margin-bottom: 20px;
                font-weight: bold;
                font-family: 'Noto Sans', sans-serif;
            }
        
            .direccion{
                display: flex;
                flex-direction: row;
                margin-top: 30px;
            
                img{
                    margin-bottom: 15px;
                    margin-top: 10px;
                    width: 400px;
                    height: 250px;
                }

                p{  
                    font-size: 14pt;
                    font-family: 'Noto Sans', sans-serif;
                    text-align: justify;
                    margin: 10px 30px 30px 30px;
                }
            }
        }
    }    
}
/*-----------------------------------------Fin de la cuarta pagina de noticias------------------------------------------*/
/*-----------------------------------------Comienzo de la quinta parte de la pagina contacto-------------------------------------*/
.body__fondoCont{
    background-color: darkblue;
}

.titulo_Contacto{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.671);
    margin: 50px 350px 50px 350px;
    padding: 20px 20px 20px 20px;
    box-shadow: 3px 3px 3px 3px black;
    border: 2px solid black;


    label{
    margin-bottom: 10px;
    font-size: 13pt;
    text-align: left;
    }

    input{
    padding: 0px -20px 0px -20px;
    background-color: rgba(0, 0, 0, 0.795);
    border-bottom: 3px solid blue;
    margin-bottom: 10px;
    color: white;
    }

    .input{
    padding: 0px -20px 0px -20px;
    background-color: rgba(0, 0, 0, 0.795);
    border-bottom: 3px solid blue;
    margin-bottom: 10px;
    color: white;
    }

    .checkbox{
        margin-top: 5px;
        margin-left: 5px;
    }
    
    span{
        margin: 0px 25px 0px 25px;
        text-align:center;
    }

    .enviar{
        background-color: gray;
        padding: 5px 5px 5px 5px;
        border-color: black;
    }
}

/*------------------------------------------Final de la pagina contactos----------------------------------------*/
/*------------------------------------------comienzo de responsive----------------------------------------------*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    header {
        .navbar__color{
            background-color: black;
        } 
        .navbar-brand{
            color: white;
                img{
                    width: 20px;
                }
            }
        #navbarNav{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        color: white;
                    }
                    .nav-link:hover{
                        color: darkblue;
                        background-color:rgb(129, 122, 138);
                        font-weight: bold;
                    }
                }       
            }
        }
    }
    .titulo_Contacto{
        text-align: center;
    }
    
    form{
        display: flex;
        flex-direction: column;
        color: white;
        background-color: rgba(0, 0, 0, 0.671);
        margin: 60px 60px 60px 60px;
        padding: 20px 50px 20px 50px;
        box-shadow: 3px 3px 3px 3px black;
        border: 2px solid black;
    
    
        label{
        margin-bottom: 10px;
        font-size: 13pt;
        text-align: left;
        }
    
        input{
        padding: 0px -20px 0px -20px;
        background-color: rgba(0, 0, 0, 0.795);
        border-bottom: 3px solid blue;
        margin-bottom: 10px;
        color: white;
        }
    
        .input{
        padding: 0px -20px 0px -20px;
        background-color: rgba(0, 0, 0, 0.795);
        border-bottom: 3px solid blue;
        margin-bottom: 10px;
        color: white;
        }
    
        .checkbox{
            margin-top: 5px;
            margin-left: 5px;
        }
        
        span{
            margin: 0px 25px 0px 25px;
            text-align:center;
        }
    
        .enviar{
            background-color: gray;
            padding: 5px 5px 5px 5px;
            border-color: black;
        }
    }
    footer{
        margin-top: 10px;
        margin-bottom: 10px;
        height: 1vh;
        
        .red--modificado{
            justify-content: space-evenly;
            background-color: black;
            
            ul{
                display: flex;
                flex-direction: row;
                
                .lista__redes{   
                    margin-top: 10px;
                    list-style-type: none;
                    justify-content: space-evenly;   
                    
                    a{
                        img{
                            width: 25px;
                            transition: transform .2s;
                            margin-left: 10px;
                        }
                    }
    
                    a img:hover{
                        transform: rotate(360deg);
                    }
                }
            }
        }
        
        .texto--footer{
            margin-top: 10px;
            margin-left: 200px;
            color: white;
            font-size: 10pt;
        }
    }
}